*{margin: 0;padding: 0;}

body{background: #C8EDFF;overflow-y: scroll;}
#wrap{
	width: 600px;
	margin: 0 auto;
}
#header{
	padding: 20px 20px; 
	background: #fff;
	overflow: hidden;
}
#header>p{
	font-size: 20px;
	color: #5EA1FC;
	font-weight: bolder;
	margin-bottom: 20px;
}

#header li{
	list-style: none;
	height: auto;
	overflow: hidden;
	margin-top: 10px;
}
#header li span{
	float: left;
}
#userNameInp{
	height: 25px;
	width: 490px;
	font-size: 16px;
	outline: none;
	border: 1px solid #A9A9A9;
	padding-left: 11px;
}
#userNameInp:focus{
	box-shadow:none;
	border-color:red;
}
#header #textarea{
	padding: 10px;
	resize:none;
	overflow: auto;	
	width: 480px;
	height: 120px;
	font-size: 16px;
	margin: 0 auto;
	outline: none;
	display: block;
	box-shadow:2px 2px 2px 0px #ccc inset;
	float: left;
}
#header textarea:focus{
	box-shadow:none;
	border-color:red;
}

#header>input{
	display: inline-block;
	width: 100px;
	height: 40px;
	border: none;
	font-size: 20px;
	font-weight:bolder;
	outline: none;
	float: right;
	margin: 10px 10px 0 0;
	color: #fff;
}
.inputFont{
	background: #FF8140;
}
.inputFont:hover{
	background:#F7671D;
}
.inputNoFont{
}
#context{
	min-height:500px; 
	/*padding:20px 0;*/
}
.userDl{
	padding:20px;
	padding-right: 50px;
	overflow: hidden;
	margin-top: 10px;
	background: #fff;
}
.userDt{
	float: left;
	width: 100px;
	height: 100px;
	border: 1px solid #E4E4E4;
	border-radius: 1000px;
	overflow: hidden;
}
.userDd{
	margin-left: 130px; 
	overflow: hidden;
	margin-top: 20px; 
}
.userImg{
	height: 100px;
	line-height: 120px;
	vertical-align: middle;
}
.userName{
	color: black;
	text-decoration: none;
	font-size: 20px;
	font-weight: bolder;
}
.userP{
	line-height: 30px;
	margin-top: 10px;
	font-size: 15px;
	word-break: break-all;

}


